# Ignore data directories
data/
data/raw/
data/processed/

# Environment files
.env
*.env

# Python cache and virtual environments
__pycache__/
*.pyc
/env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/

# System files
.DS_Store
